:root {
  --color1: rgb(5, 55, 66);
  --color2: rgb(57, 162, 219);
  --color3: rgb(162, 219, 250);
  --color4: rgb(232, 240, 242);
}

body {
  box-sizing: border-box;
  background-color: var(--color4);
}
header {
  height: 100px;
  background-color: var(--color1);
  /* border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
}

footer {
  height: 100px;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  color: antiquewhite;

  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}

ul > li {
  color: white;
  display: block;
  float: left;
  margin-right: 40px;
  font-size: 20pt;
}
